# PRODUCT
PRODUCT_DB_USER=
PRODUCT_DB_PASSWORD=
PRODUCT_DB_NAME=

# ORDER
ORDER_DB_USER=
ORDER_DB_PASSWORD=
ORDER_DB_NAME=

# RABBITMQ
RABBITMQ_USER=
RABBITMQ_PASSWORD=

# REDIS
REDIS_MAX_MEMORY=128mb