PORT=3002

DB_HOST=localhost
DB_PORT=5432
DB_USER=order_user
DB_PASSWORD=order_pass
DB_NAME=order_db

REDIS_HOST=localhost
REDIS_PORT=6379

RABBITMQ_URL=amqp://guest:guest@localhost:5672

PRODUCT_SERVICE_URL=http://localhost:3001